bin/*	
Debug/*
Release/*
.vs/*
weather/bin/Debug/Microsoft.Toolkit.Uwp.Notifications.dll
weather/bin/Debug/Microsoft.Toolkit.Uwp.Notifications.pdb
weather/bin/Debug/System.ValueTuple.dll
weather/bin/Debug/weather.exe
weather/bin/Debug/weather.exe.config
weather/bin/Debug/weather.pdb
weather/bin/Release/Microsoft.Toolkit.Uwp.Notifications.dll
weather/bin/Release/Microsoft.Toolkit.Uwp.Notifications.pdb
weather/bin/Release/System.ValueTuple.dll
weather/bin/Release/weather.exe
weather/bin/Release/weather.exe.config
weather/obj/Release/*
weather/obj/Debug/*
*.exe
weather/obj/Release/weather.Properties.Resources.resources
weather/obj/*
weather/obj/project.nuget.cache
weather/obj/*/*
weather/obj/weather.csproj.nuget.dgspec.json
weather/obj/project.nuget.cache
weather/obj/weather.csproj.nuget.g.props
weather/obj/project.assets.json
weather/obj/project.nuget.cache
weather/obj/weather.csproj.nuget.dgspec.json
weather/obj/project.assets.json
weather/obj/project.nuget.cache
